

<EditForm Model="@chatsession" OnValidSubmit="@HandleValidSubmit">
<div class="col-md-6 p-3">

        <div class="row mb-3">
            <label for="handle" class="col-form-label col-md-3">Chat Name: </label>
            <div class="col-md-8">
                <InputText id="handle" @bind-Value="@chatsession.Name" class="form-control col-md-8" placeholder="Enter Chat Name"></InputText>
            </div>
            <ValidationMessage class="offset-md-3 col-md-8" For="@(() => chatsession.Name)" />
        </div>

        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Choose Predator</RadzenText>
            <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@predators @bind-Value=@chatsession.PredatorId
                            TextProperty="FirstName" ValueProperty="Id" Class="w-100" />
        </RadzenCard>
    </div>

    <div class="col-md-6 p-3">
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Choose Decoy</RadzenText>
            <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@decoys @bind-Value=@chatsession.DecoyId
                            TextProperty="Handle" ValueProperty="Id" Class="w-100" />
        </RadzenCard>
    </div>

    <button type="submit" class="btn btn-primary me-1">Save Chat Session</button>

</EditForm>
<div class="alert @StatusClass">@Message</div>