
@inject Radzen.DialogService dialogService


@if (decoy != null)
{
    <EditForm Model="@decoy" OnValidSubmit="@HandleValidSubmit">
  

        <div class="row mb-3">
            <label for="handle" class="col-form-label col-md-3">Handle: </label>
            <div class="col-md-8">
                <InputText id="handle" @bind-Value="@decoy.Handle" class="form-control col-md-8"></InputText>
            </div>
            <ValidationMessage class="offset-md-3 col-md-8" For="@(() => decoy.Handle)" />

        </div>
        <div class="row mb-3">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Upload images only</RadzenText>
                 <InputFile OnChange="OnInputFileChangeDecoy" />
        </div>

         <button type="submit" class="btn btn-primary me-1">Update predator</button>
    </EditForm>
    <div class="alert @StatusClass">@Message</div>
}