
@inject Radzen.DialogService dialogService

<EditForm Model="@predator" OnValidSubmit="@HandleValidSubmit">
    <div class="row mb-3">
        <label for="firstName" class="col-form-label col-md-3">First Name: </label>
        <div class="col-md-8">
            <InputText id="firstName" @bind-Value="@predator.FirstName" class="form-control col-md-8" placeholder="Enter first name"></InputText>
        </div>
        <ValidationMessage class="offset-md-3 col-md-8" For="@(() => predator.FirstName)" />

    </div>
    <div class="row mb-3">
        <label for="lastName" class="col-form-label col-md-3">Last Name: </label>
        <div class="col-md-8">
            <InputText id="firstName" @bind-Value="@predator.LastName" class="form-control col-md-8" placeholder="Enter last name"></InputText>
        </div>
        <ValidationMessage class="offset-md-3 col-md-8" For="@(() => predator.LastName)" />

    </div>

    <div class="row mb-3">
        <label for="description" class="col-form-label col-md-3">Description: </label>
        <div class="col-md-8">
            <InputText id="description" @bind-Value="@predator.Description" class="form-control col-md-8" placeholder="Enter description"></InputText>
        </div>
        <ValidationMessage class="offset-md-3 col-md-8" For="@(() => predator.Description)" />
    </div>

     <div class="row mb-3">
        <label for="stinglocation" class="col-form-label col-md-3">Sting Location: </label>
       <div class="col-md-8">
            <InputText id="stinglocation" @bind-Value="@predator.StingLocation" class="form-control col-md-8" placeholder="Enter Sting Location"></InputText>
        </div>
        <ValidationMessage class="offset-md-3 col-md-8" For="@(() => predator.StingLocation)" />

    </div>

    <div class="row mb-3">
        <label for="handle" class="col-form-label col-md-3">Handle: </label>
        <div class="col-md-8">
            <InputText id="handle" @bind-Value="@predator.Handle" class="form-control col-md-8" placeholder="Enter handle"></InputText>
        </div>
        <ValidationMessage class="offset-md-3 col-md-8" For="@(() => predator.Handle)" />

    </div>
    <div class="row mb-3">
        <label for="image" class="col-12 col-sm-3">Select image: </label>
        <div class="col-md-8">
            <InputFile OnChange="OnInputFileChangePredator" />
        </div>

    </div>
     <button type="submit" class="btn btn-primary me-1">Save predator</button>
</EditForm>

<div class="alert @StatusClass">@Message</div>