@inject Radzen.DialogService dialogService
@inject NotificationService NotificationService

@if (chatLine != null)
{
        <EditForm Model="@chatLine" OnValidSubmit="@HandleValidSubmit">
        <div class="col-md-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Choose Sender: </RadzenText>
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@senders @bind-Value=@chatLine.SenderId
                            TextProperty="SenderHandle" ValueProperty="SenderId" Class="w-100" />
            </RadzenCard>
        </div>
            <div class="row mb-3">
                <label for="message" class="col-form-label col-md-3">Message: </label>
                <div class="col-md-8">
                    <InputText id="handle" @bind-Value="@chatLine.Message" class="form-control col-md-8"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => chatLine.Message)" />

            </div>

             <div class="row mb-3">
                <label for="handle" class="col-form-label col-md-3">TimeStamp: </label>
                <div class="col-md-8">
                <input type="datetime" id="timestamp" @bind="@chatLine.TimeStamp"  class="form-control col-md-8"></input>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => chatLine.TimeStamp)" />

            </div>

            <RadzenButton ButtonType="ButtonType.Submit" Style="width: 160px" IsBusy=@busy Text="Update" />
        </EditForm>
      
}