@using TCAPArchive.Shared.Domain


<EditForm Model="@Decoy" OnValidSubmit="@HandleValidSubmit">
    <div class="row mb-3">
        <label for="Handle" class="col-form-label col-md-3">Handle: </label>
        <div class="col-md-8">
            <InputText id="handle" @bind-Value="@Decoy.Handle" class="form-control col-md-8" placeholder="Enter decoy handle"></InputText>
        </div>
        <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Decoy.Handle)" />
    </div>

    <div class="row mb-3">
        <label for="image" class="col-12 col-sm-3">Select image: </label>
        <div class="col-md-8">
            <InputFile OnChange="OnInputFileChange" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary me-1">Save Decoy</button>
</EditForm>

<div class="alert @StatusClass">@Message</div>
