
    <Card Padding="Padding.Is2">
        <CardImage Width="1rem" Source="@PredatorImage" Alt="@predator.ImageTitle"></CardImage>
        <CardBody >
            <CardTitle Size="5">@predator.FirstName @predator.LastName</CardTitle>
            <CardText>
                @predator.Description
            </CardText>
            <Button Color="Color.Primary">View log</Button>
        </CardBody>
    </Card>


